<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> C-19 </title>
  <script type="text/javascript"  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>  
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
</head>

<h1 id="top"> Covid-19 figures </h1>
<topli>
   <rli> <a href = "https://github.com/thetateht" title = "My git page" style="color:SeaGreen"> Git </a> </rli>
   <rli> <a href = "{{ site.baseurl }}/map" title = "Map"> Map </a> </rli>
   <rli> <a href = "{{ site.baseurl }}/tab" title = "Table"> Rank </a> </rli>
   <rli> <a href = "{{ site.baseurl }}/plots" title = "Plots"> Plots </a> </rli>
   <rli> <a href = "{{ site.baseurl }}/" title = "Home page"> Home </a> </rli>
</topli>
<hr>

<body id="main" bgcolor=#FFFFFF text=black link=grey vlink=grey marginwidth=0 marginheight=0 id=main>
{{ content }}    ``
</body>

<!--<h4 id="bottom">MATH</h4>-->
</html>


<script>
function openPlot(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
